* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

button:hover {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  padding: 1em;
}

header, footer {
  text-align: center;
}

footer {
  border-top: 1px solid gray;
}

.app-title {
  margin: 10px auto; 
  text-align: center;
}

.greeting {
  text-align: center;
}

.hidden {
  display: none;
}

.image-container {
  position: relative;
}

.error-message {
  color: red;
}

.fas {
  font-size: 1.5em;
}

.far {
  font-size: 3em;
}

.image-frame {
  position: relative;
}

.info-button {
  cursor: pointer;
  margin: 0 0 20px 0;
}

.info-container {
  text-align: center;
}

#artwork-info {
  margin: 20px auto;
  max-width: 400px;
  padding: 0 1em;
}

#js-image-frame {
  max-width: 95%;
  margin: 0 auto;
  text-align: center;
}

#js-like-form {
  text-align: center;
}

#social-media {
  margin: 20px auto;
  max-width: 400px;
  font-size: 1em;
  text-align: center;
}


