* {
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', serif;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: #666666;
}

button:hover {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  padding: 1em;
}

header {
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(204,204,204);
}

footer {
  border-top: 1px solid  rgb(204,204,204);
  padding: 15px;
  width: 100%;
  text-align: center;
}

a {
  cursor: pointer;
  text-decoration: none;
  color:  #e83a17; 
}

p {
  font-family: 'Source Sans Pro';
}

main {
  width: 95%;
  margin: auto;
}

.app-title {
  font-family: 'Playfair Display';
  margin: 10px 0 5px 20px; 
  font-size: 45px;
  color: #e83a17; 
}

.app-description {
  margin: 0 0 0 20px;
  font-size: 18px;
}

.artwork-display {
  text-align: center;
  margin: 0 auto 30px auto;
}

#artwork-info {
  font-size: 16px;
  margin: 0 10%;
  padding: 0;
}

.art-info-list {
  margin: 0;
  padding: 0;
}

.artwork-info-row {
  padding: 7px 0 0 0;
  margin: 0;
  font-weight: bold;
}

.first {
  padding: 0;
}

dd {
  padding: 0 0 7px 0;
  margin: 0;
}

.greeting {
  text-align: center;
}

.hidden {
  display: none;
}

.error-message {
  color: red;
}

.fas, .fab {
  font-size: 1em;
}

.image-frame {
  position: relative;
}

#image-container {
  position: relative;
  display: inline-block;
  text-align: center;
}

.left-nav, .right-nav {
  position: absolute;
  font-size: 18px;
  margin: -10px;
  top:50%;
  transform:translateY(-50%);
  color: #666666;
  background: transparent;
  border: none;
  cursor: pointer;
}

.left-nav {
  left: 0;
}

.right-nav {
  right: 0;
}

#instructions {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.minimize-button {
  position: relative;
  cursor: pointer;
  margin: 0;
  top: 0;
  right: 5;
  float: right;
  color: #666666;
  background: transparent;
  border: none;
}

#js-image-frame {
  max-width: 95%;
  margin: 0 auto;
  text-align: center;
}

#js-like-form {
  text-align: center;
}

.social-media {
  margin: 0 10%;
}

.share-text {
  margin: 0;
  padding: 10px 0 0 0;
  font-weight: bold;
}

#social-media a {
  padding-right: 10px;
  font-size: 20px;
}

.social-links {
  padding: 10px 0 40px 0;
  font-size: 20px;
}

.spinner {
  display: inline;
  padding-left: 20px;
}

.loadcircle {
  display: inline;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

.loadtext {
  display: inline;
  font-size: 34px;
}

footer > p {
  line-height: 1.5;
  margin: 0;
}

@media only screen and (min-width: 900px) {

  body {
    width: 80%;
    margin: 0 auto;
  }

  main {
    width: 100%;
  }

  .app-description {
    margin: 0;
  }

  .app-title {
    margin: 0 0 5px 0px; 
    padding: 10px 0;
    font-size: 45px;
    color: #e83a17; 
  }

  .artwork-display {
    background-color: #f8f8f8;
    margin: 20px 0 40px 0;
    width: 63%;
    float: right;
  }

  #artwork-info {
    width: 35%;
    margin: 20px 0 0 0;
    float: left;
    font-size: 18px;
  }

  .artwork-info-row {
    padding: 10px 0 0 0;
  }
  
  dd {
    padding: 0 0 10px 0;
  }

  #social-media {
    width: 35%;
    float: left;
    text-align: left;
    margin: 0 0 40px 0;
  }

  #social-media p {
    text-align: left;
    font-size: 18px;
  }

  .social-links {
    display: block;
    margin: 0;
    padding: 10px 10px 0 0;
  }
 
  #social-media a {
    padding: 10px;
    font-size: 20px;
  }

  footer {
    clear: both;
  }
}


